.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  height: 35px;
  margin-left: 30px;
  padding-left: 15px;
  flex: 1;
  border: none;
  border-bottom: 1px solid white;
  background: none;
}

.Editor input::placeholder {
  color: white;
}

.Editor input:focus {
  outline: none;
}

.Editor button {
  width: 120px;
  height: 35px;
  margin-right: 30px;
  background-color: rgba(0, 0, 0, 0.151);
  border: none;
}

.Editor button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.137);
}
